﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ExportToPDF.ascx.cs" Inherits="Aspose.ExportToPDF.ExportToPDF" %>

<div class="exportButton">
    <asp:Button ID="ExportButton" runat="server" Text="Export to PDF" OnClick="ExportButton_Click" />
</div>