﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ExportToWord.ascx.cs" Inherits="Aspose.ExportToWord.ExportToWord" %>

<div class="exportButton">
    <asp:Button ID="ExportButton" runat="server" Text="Export to Word" OnClick="ExportButton_Click" />
</div>